<div class="container">

    <div style="width: 30%;">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input [formControl]="inputSearch" placeholder="Búsqueda" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>

    </div>



    <div>

        <button nz-button (click)="add()" nzType="primary" style="width: 150px; margin-right: 20px;">
            <i nz-icon nzType="plus"></i>
            Agregar
        </button>
    </div>


</div>